<!DOCTYPE html>
{% extends 'core/home_un.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/stilos.css" %}' >
    <title>Agregar Centro</title>
</head>
{% block content%}
<body>
    <form action= "{% url 'guardar_centro' %}" method="POST">
        {% csrf_token %}
        {{centro}}
    <button type="submit">Guardar Centro</button> 
    </form>

    {% for centros in centros %}
    <ul>
        <li>{{centros}}</li> 
    </ul>
    {% endfor %}
</body>
{% endblock %}
</html>