<!DOCTYPE html>
{% extends 'core/home_un.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/stilos.css" %}' >
    <title>Agregar proveedor</title>
</head>

{% block content%}
<body>
    <form action= "{% url 'guardar_proveedor' %}" method="POST">
        {% csrf_token %}
        {{proveedor.as_p}}
    <button type="submit">Guardar proveedor</button> 
    </form>

    <aside>
    {% for proveedores in proveedores %}
    <ul>
        <li>{{proveedores.idproveedor}} {{proveedores.nombre_proveedor}}</li> 
    </ul>
    {% endfor %}
    </aside>
</body>
{% endblock %}
</html>