<!DOCTYPE html>
{% extends 'core/home_un.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/stilos.css" %}' >
    <title>Document</title>
</head>
<body>
    {% block content %}
    
    <table>
        <thead>
            <tr>
                <td>PRODUCTO</td>
                <TD>STOCK UMAAD</TD>
                <td>AJUSTAR STOCK UMAAD</td>
                <td>DURACION</td>
                <TD>STOCK NCK</TD>
                <TD>DURACION</TD>
            </tr>
        </thead>
        <tbody>
            <tr>{% for stock in stock %}
                <td>{{stock.producto}}</td>
                <td>{{stock.stock_umaad}}</td>
                <td><form action="." method="post">
                    {% csrf_token %}
                    <a href="../ciclico_stock/{{stock.producto_id}}"><button type="button">AJUSTAR</button></a>
                </form>
            </td>
            <TD>{{stock.duracion_umaad|floatformat:2}}</TD>
                <TD>{{stock.stock_nck}}</TD>
                <TD>{{stock.duracion_nck|floatformat:2}}</TD>
            </tr>{% endfor %}
        </tbody>
    </table>




    {% endblock %}    
</body>
</html>