<!DOCTYPE html>
{% extends 'core/home_un.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/stilos.css" %}' >
    <title>Document</title>
</head>
<body>
    {% block content %}

    {{remitos_in}}
    <table>
        <thead>
            <tr>
                <td>PRODUCTO</td>

                <TD>STOCK</TD>

                <td>CICLICOS DE STOCK</td>
            </tr>
        </thead>
        <tbody>
            <tr>{% for productos in productos %}
                <td>{{productos.nombre_producto}}</td>
                <td>{{productos.stock_disponible}}</td>
                <td><form action="." method="post">
                    {% csrf_token %}
                    <a href="../ciclico_stock/{{productos.idproductos}}"><button type="button">AJUSTAR</button></a>
                    
                </form></td>
            </tr>{% endfor %}
        </tbody>
    </table>
    
    {% endblock %}
</body>
</html>